body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    /* padding: 20px; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.section-one {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 100px;
    padding-top: 20px;
    background-color: #1f2937;
    color: white;
    /* align-items: center; */
}

.header-container {
    display: flex;
    justify-content: space-between;
    /* flex-basis: 100%; */
}

.header {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    display: flex;
    gap: 5px;
}

.header-links {
    display: flex;
    gap: 20px;
    /* margin-right: 0;
    margin-left: auto; */

}

.header-links a {
    color: #e5e7eb;
}

.hero-container {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    /* flex-wrap: wrap; */
    align-items: center;
  
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.hero-text-section {
display: flex;
flex-direction: column;
gap: 12px;
/* width: 100px; */
box-sizing: border-box;
}

.hero-main-text {
    font-size: 58px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-sub-text {
    font-size: 28px;
    color: #e5e7eb;
}

.sign-up-button {
    background-color: #3882f6;
    color: white;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    font-size: 28px;
}

