body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    /* padding: 20px; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.section-one {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 100px;
    padding-top: 20px;
    background-color: #1f2937;
    color: white;
    /* align-items: center; */
}

.header-container {
    display: flex;
    justify-content: space-between;
    /* flex-basis: 100%; */
}

.header {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    display: flex;
    gap: 5px;
}

.header-links {
    display: flex;
    gap: 20px;
    /* margin-right: 0;
    margin-left: auto; */

}

.header-links a {
    color: #e5e7eb;
}

.hero-container {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    /* flex-wrap: wrap; */
    align-items: center;
  
}

.section-two {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 100px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

.information-card-section {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 200px;
    
}

.card {
    width: 200px; /* Makes the card square (width and height are the same) */
    height: 200px;
   font-size: 80px;
    border: 3px solid #3882f6; /* Blue border color and thickness */
    border-radius: 20px; /* Adjust this value to control the amount of curve */
    padding: 20px; /* Space between content and border */
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        background-color: #e5e7eb;
        padding: 160px;
}

.section-three .quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    gap: 10px;
}

.quote {
font-size: 36px;
color: #1f2937;
font-weight: 300;
font-style: italic;
}

.quoter {
    font-weight: bold;
    align-self: flex-end;
}

.main-text {
    font-size: 30px;
    font-weight: bold;
}

.card-text {
    text-align: center;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    color: white;
    gap: 200px;
    padding: 40px 80px;
    border-radius: 5px;
}

.second-sign-up-button {
    background-color: #3882f6;
    color: white;
    padding: 10px 35px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 15px;
}

.main {
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.hero-text-section {
display: flex;
flex-direction: column;
gap: 12px;
/* width: 100px; */
box-sizing: border-box;
}

.hero-main-text {
    font-size: 58px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-sub-text {
    font-size: 28px;
    color: #e5e7eb;
}

.sign-up-button {
    background-color: #3882f6;
    color: white;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    font-size: 28px;
}

